<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SysadminsLV.Asn1Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Asn1Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <SysadminsLV.Asn1Editor.Properties.Settings>
            <setting name="MaxTreeViewLength" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="DecodePayload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IntAsInt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PathDelimiter" serializeAs="String">
                <value>/</value>
            </setting>
        </SysadminsLV.Asn1Editor.Properties.Settings>
        <Asn1Editor.Properties.Settings>
            <setting name="MaxTreeViewLength" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="DecodePayload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IntAsInt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PathDelimiter" serializeAs="String">
                <value>/</value>
            </setting>
        </Asn1Editor.Properties.Settings>
    </userSettings>
</configuration>
